# Envs
Backend/.env
Backend/.venv/
.venv/
*.env

# Python cache
**/__pycache__/
*.pyc

# Node modules
Frontend/inventario-front/node_modules/

# SQLite databases


# Build artifacts
Frontend/inventario-front/dist/
staticfiles/
.DS_Store
