version: "3.9"

services:
  backend:
    build:
      context: ./Backend
    env_file:
      - ./Backend/.env
    volumes:
      - ./Backend/db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./Frontend/inventario-front
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL:-http://backend:8000/api}
    environment:
      - VITE_API_BASE_URL=${VITE_API_BASE_URL:-http://backend:8000/api}
    ports:
      - "8080:80"
    depends_on:
      - backend
